.container {
    display: grid;
    grid-template-columns: 230px minmax(0, 1fr) 230px;

    width: 100%;
    height: calc(100vh - 80px);

    overflow: hidden;
}


/* LEFT SIDEBAR */

.homeContainer {
    border-right: 1px solid rgb(222, 222, 222);

    height: 100%;
    padding-top: 1rem;
    box-sizing: border-box;
}

.homeContainer_leftBar {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: flex-start;
}

/* CENTER */

.homeContainer_feedContainer {
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 1rem 2rem;

    box-sizing: border-box;
}

/* RIGHT SIDEBAR */

.homeContainer_extraContainer {
    border-left: 1px solid rgb(222, 222, 222);

    height: 100%;

    padding: 1rem 1.2rem;

    box-sizing: border-box;
}


/* SIDEBAR OPTIONS */

.sideBarOption {
    display: flex;
    align-items: center;

    font-size: 1.1rem;
    gap: 1.3rem;

    width: 100%;
    max-width: 200px;

    cursor: pointer;

    transition: transform 0.2s;
}

.sideBarOption:hover {
    transform: scale(1.04);
}

.home-icon {
    height: 1.4em;
    min-width: fit-content;
}