.homeContainer {
    display: flex;
    border-right: 1px solid rgb(222, 222, 222);

}

.homeContainer>div:nth-child(odd) {
    flex: 0.2
}

.homeContainer>div:nth-child(even) {
    flex: 0.6
}

.homeContainer_leftBar {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: start;
    /* border-right: 1px solid rgb(222, 222, 222); */
}

.sideBarOption {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    gap: 1.3rem;
    width: 12rem;
    min-width: 80%;
    max-width: 100%;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.2s;
}

.sideBarOption:hover {
    transform: scale(1.04);
}

.home-icon {
    height: 1.4em;
    min-width: fit-content;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeContainer_extraContainer {
    border-left: 1px soild rgb(222, 222, 222);
    padding-left: 1.2rem;
    /* border-right: 1px solid rgb(222, 222, 222); */

}

.homeContainer_feedContainer {
    padding-inline: 0.8rem;
}